<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Description -->
    <meta name="description" content="">

    <!-- keywords -->
    <meta name="keywords" content="">

    <!-- Robots tags -->
    <meta name="robots" content="index, follow">

    <!-- Icon file -->
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">

    <!-- CSS files -->
    <link rel="stylesheet" href="./../static/css/materialize.min.css">
    <link rel="stylesheet" href="./../static/css/icons.css">
    <link rel="stylesheet" href="./../static/css/style.css">

    <title>smart library</title>
</head>
<body>
<!-- Start info content -->
<div class="row">

    <!-- Start left container -->
    <div class="col s12 l4 info">
        <h1 class="center-align">Smart Library</h1>
        <div class="temperature-container info-data-container center-align z-depth-5">
            <button class="btn btn-large hoverable" id="btnTemp">Temperature</button>
            <hr>
            <p class="flow-text center-align counter" id="temperature">0</p>
        </div>
        <div class="noise-container info-data-container center-align z-depth-5">
            <button class="btn btn-large hoverable" id="btnNoise">Noise</button>
            <hr>
            <p class="flow-text center-align counter" id="noise">0</p>
        </div>
        <div class="people-container info-data-container center-align z-depth-5">
            <button class="btn btn-large hoverable" id="btnPeople">People</button>
            <hr>
            <div class="row">
                <p class="flow-text center-align counter" id="people">0</p>
            </div>
        </div>
    </div>
    <!-- End left container -->

    <!-- Start graphs content -->
    <div class="col s12 l8 graph-container center-align">
        <div id="tempGraph" class="graph"></div>
        <div id="noiseGraph" class="graph"></div>
        <div id="peopleGraph" class="graph"></div>
    </div>
    <!-- End graphs content -->

</div>
<!-- End info content -->

<!-- JavaScript fields -->
<script src="./../static/js/jquery.min.js"></script>
<script src="./../static/js/socket.io.min.js"></script>
<script src="./../static/js/materialize.min.js"></script>
<script src="./../static/js/plotly.min.js"></script>
<script src="./../static/js/main.js"></script>
</body>
</html>